# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDEs
.idea/
.vscode/

# Testing
.coverage
.pytest_cache/
htmlcov/

# OS
.DS_Store
Thumbs.db